html(lang="en-us")
  head
    include /inc/meta.jade
    title Aaron Sarnat | Portfolio
  body#top
    //- Begin Page-Specific Content
    
    header.header-main

      .header-main--mow-nav-trigger.js-mow-nav-trigger
        .ico-menu

      h1.header-main--logo
        a(href="/")
          span.header-main--logo--content
          span.u-hidden Aaron Sarnat
          img.u-hidden(src="/img/logo-as3.svg")
          
      nav.header-main--nav
        ul
          li.header-main--nav--li---selected
            a(href="#") Portfolio
          li
            a(href="#") Code
          li
            a(href="#") Blog
          li
            a(href="#") About
          li
            a(href="#") Contact
          
    section.banner.banner---portfolio

    section.thumbs
      nav.thumbs--nav.js-sticky
        ul
          li
            a.js-scroll(href="#software-design") Software Design
          li
            a.js-scroll(href="#graphic-design") Graphic Design
          li
            a.js-scroll(href="#artwork") Artwork
          li
            a.js-scroll(href="#3d") 3D Rendering
          li
            a.js-scroll(href="#photography") Photography

      #software-design.thumbs--group
        h3 Software Design
          span Web
          span Mobile
          span UI
          span UX
        a.thumbs--go-to-top.js-scroll(href="#top") top
        .pure-g
          a.pure-u-sm-1-2.pure-u-md-1-3.pure-u-lg-1-4.thumbs--thumb(href="#")
            .thumbs--thumb--img
              .thumbs--thumb--img--growbox
                .thumbs--thumb--img--content(data-image="justgreen1.jpg")
            h4 M.C. Escher
            .thumbs--thumb--meta Website | 2014
          a.pure-u-sm-1-2.pure-u-md-1-3.pure-u-lg-1-4.thumbs--thumb(href="#")
            .thumbs--thumb--img
              .thumbs--thumb--img--growbox
                .thumbs--thumb--img--content(data-image="building1.jpg")
            h4 Anthology
            .thumbs--thumb--meta Website / iOS App | 2015
          a.pure-u-sm-1-2.pure-u-md-1-3.pure-u-lg-1-4.thumbs--thumb(href="#")
            .thumbs--thumb--img
              .thumbs--thumb--img--growbox
                .thumbs--thumb--img--content(data-image="flowerpot1.jpg")
            h4 Peak Medical
            .thumbs--thumb--meta Windows Application | 2014
          a.pure-u-sm-1-2.pure-u-md-1-3.pure-u-lg-1-4.thumbs--thumb(href="#")
            .thumbs--thumb--img
              .thumbs--thumb--img--growbox
                .thumbs--thumb--img--content(data-image="robot1.jpg")
            h4 OpenCar / Mazda
            .thumbs--thumb--meta Car Dashboard Web Interface | 2013
          a.pure-u-sm-1-2.pure-u-md-1-3.pure-u-lg-1-4.thumbs--thumb(href="#")
            .thumbs--thumb--img
              .thumbs--thumb--img--growbox
                .thumbs--thumb--img--content(data-image="einstein1.jpg")
            h4 Target
            .thumbs--thumb--meta Web / Mobile Prototype | 2012
          a.pure-u-sm-1-2.pure-u-md-1-3.pure-u-lg-1-4.thumbs--thumb(href="#")
            .thumbs--thumb--img
              .thumbs--thumb--img--growbox
                .thumbs--thumb--img--content(data-image="spiderbot1.jpg")
            h4 CNN
            .thumbs--thumb--meta iPad App | 2010
          a.pure-u-sm-1-2.pure-u-md-1-3.pure-u-lg-1-4.thumbs--thumb(href="#")
            .thumbs--thumb--img
              .thumbs--thumb--img--growbox
                .thumbs--thumb--img--content(data-image="micro1.jpg")
            h4 House, M.D. (&nbsp;Fox&nbsp;)
            .thumbs--thumb--meta iOS App | 2010
          a.pure-u-sm-1-2.pure-u-md-1-3.pure-u-lg-1-4.thumbs--thumb(href="#")
            .thumbs--thumb--img
              .thumbs--thumb--img--growbox
                .thumbs--thumb--img--content(data-image="legomen1.jpg")
            h4 Twilight (&nbsp;Summit Entertainment&nbsp;)
            .thumbs--thumb--meta iPhone App | 2009
          a.pure-u-sm-1-2.pure-u-md-1-3.pure-u-lg-1-4.thumbs--thumb(href="#")
            .thumbs--thumb--img
              .thumbs--thumb--img--growbox
                .thumbs--thumb--img--content(data-image="piano1.jpg")
            h4 Mental Images (&nbsp;NVIDIA&nbsp;)
            .thumbs--thumb--meta iPhone App | 2009
          a.pure-u-sm-1-2.pure-u-md-1-3.pure-u-lg-1-4.thumbs--thumb(href="#")
            .thumbs--thumb--img
              .thumbs--thumb--img--growbox
                .thumbs--thumb--img--content(data-image="nycf1.jpg")
            h4 Golfr
            .thumbs--thumb--meta iPhone App | 2009
          a.pure-u-sm-1-2.pure-u-md-1-3.pure-u-lg-1-4.thumbs--thumb(href="#")
            .thumbs--thumb--img
              .thumbs--thumb--img--growbox
                .thumbs--thumb--img--content(data-image="pixeldayweb1.jpg")
            h4 Allrecipes
            .thumbs--thumb--meta iPhone App | 2008
          a.pure-u-sm-1-2.pure-u-md-1-3.pure-u-lg-1-4.thumbs--thumb(href="#")
            .thumbs--thumb--img
              .thumbs--thumb--img--growbox
                .thumbs--thumb--img--content(data-image="treefrogpro1.jpg")
            h4 Project
            .thumbs--thumb--meta Extra Info
            
      #graphic-design.thumbs--group
        h3 Graphic Design
          span Print
          span Logo
        a.thumbs--go-to-top.js-scroll(href="#top") top
        .pure-g
          a.pure-u-sm-1-2.pure-u-md-1-3.pure-u-lg-1-4.thumbs--thumb(href="#")
            .thumbs--thumb--img
              .thumbs--thumb--img--growbox
                .thumbs--thumb--img--content(data-image="justgreen1.jpg")
            h4 M.C. Escher
            .thumbs--thumb--meta Website | 2014
          a.pure-u-sm-1-2.pure-u-md-1-3.pure-u-lg-1-4.thumbs--thumb(href="#")
            .thumbs--thumb--img
              .thumbs--thumb--img--growbox
                .thumbs--thumb--img--content(data-image="building1.jpg")
            h4 Anthology
            .thumbs--thumb--meta Website / iOS App | 2015
          a.pure-u-sm-1-2.pure-u-md-1-3.pure-u-lg-1-4.thumbs--thumb(href="#")
            .thumbs--thumb--img
              .thumbs--thumb--img--growbox
                .thumbs--thumb--img--content(data-image="flowerpot1.jpg")
            h4 Peak Medical
            .thumbs--thumb--meta Windows Application | 2014
          a.pure-u-sm-1-2.pure-u-md-1-3.pure-u-lg-1-4.thumbs--thumb(href="#")
            .thumbs--thumb--img
              .thumbs--thumb--img--growbox
                .thumbs--thumb--img--content(data-image="robot1.jpg")
            h4 OpenCar / Mazda
            .thumbs--thumb--meta Car Dashboard Web Interface | 2013
          a.pure-u-sm-1-2.pure-u-md-1-3.pure-u-lg-1-4.thumbs--thumb(href="#")
            .thumbs--thumb--img
              .thumbs--thumb--img--growbox
                .thumbs--thumb--img--content(data-image="einstein1.jpg")
            h4 Target
            .thumbs--thumb--meta Web / Mobile Prototype | 2012
          a.pure-u-sm-1-2.pure-u-md-1-3.pure-u-lg-1-4.thumbs--thumb(href="#")
            .thumbs--thumb--img
              .thumbs--thumb--img--growbox
                .thumbs--thumb--img--content(data-image="spiderbot1.jpg")
            h4 CNN
            .thumbs--thumb--meta iPad App | 2010
          a.pure-u-sm-1-2.pure-u-md-1-3.pure-u-lg-1-4.thumbs--thumb(href="#")
            .thumbs--thumb--img
              .thumbs--thumb--img--growbox
                .thumbs--thumb--img--content(data-image="micro1.jpg")
            h4 House, M.D. (&nbsp;Fox&nbsp;)
            .thumbs--thumb--meta iOS App | 2010
          a.pure-u-sm-1-2.pure-u-md-1-3.pure-u-lg-1-4.thumbs--thumb(href="#")
            .thumbs--thumb--img
              .thumbs--thumb--img--growbox
                .thumbs--thumb--img--content(data-image="legomen1.jpg")
            h4 Twilight (&nbsp;Summit Entertainment&nbsp;)
            .thumbs--thumb--meta iPhone App | 2009
            
      #artwork.thumbs--group
        h3 Artwork
          span Drawing
          span Painting
        a.thumbs--go-to-top.js-scroll(href="#top") top
        .pure-g
          a.pure-u-sm-1-2.pure-u-md-1-3.pure-u-lg-1-4.thumbs--thumb(href="#")
            .thumbs--thumb--img
              .thumbs--thumb--img--growbox
                .thumbs--thumb--img--content(data-image="justgreen1.jpg")
            h4 M.C. Escher
            .thumbs--thumb--meta Website | 2014
          a.pure-u-sm-1-2.pure-u-md-1-3.pure-u-lg-1-4.thumbs--thumb(href="#")
            .thumbs--thumb--img
              .thumbs--thumb--img--growbox
                .thumbs--thumb--img--content(data-image="building1.jpg")
            h4 Anthology
            .thumbs--thumb--meta Website / iOS App | 2015
          a.pure-u-sm-1-2.pure-u-md-1-3.pure-u-lg-1-4.thumbs--thumb(href="#")
            .thumbs--thumb--img
              .thumbs--thumb--img--growbox
                .thumbs--thumb--img--content(data-image="flowerpot1.jpg")
            h4 Peak Medical
            .thumbs--thumb--meta Windows Application | 2014
          a.pure-u-sm-1-2.pure-u-md-1-3.pure-u-lg-1-4.thumbs--thumb(href="#")
            .thumbs--thumb--img
              .thumbs--thumb--img--growbox
                .thumbs--thumb--img--content(data-image="robot1.jpg")
            h4 OpenCar / Mazda
            .thumbs--thumb--meta Car Dashboard Web Interface | 2013
          a.pure-u-sm-1-2.pure-u-md-1-3.pure-u-lg-1-4.thumbs--thumb(href="#")
            .thumbs--thumb--img
              .thumbs--thumb--img--growbox
                .thumbs--thumb--img--content(data-image="einstein1.jpg")
            h4 Target
            .thumbs--thumb--meta Web / Mobile Prototype | 2012
          a.pure-u-sm-1-2.pure-u-md-1-3.pure-u-lg-1-4.thumbs--thumb(href="#")
            .thumbs--thumb--img
              .thumbs--thumb--img--growbox
                .thumbs--thumb--img--content(data-image="spiderbot1.jpg")
            h4 CNN
            .thumbs--thumb--meta iPad App | 2010
          a.pure-u-sm-1-2.pure-u-md-1-3.pure-u-lg-1-4.thumbs--thumb(href="#")
            .thumbs--thumb--img
              .thumbs--thumb--img--growbox
                .thumbs--thumb--img--content(data-image="micro1.jpg")
            h4 House, M.D. (&nbsp;Fox&nbsp;)
            .thumbs--thumb--meta iOS App | 2010
          a.pure-u-sm-1-2.pure-u-md-1-3.pure-u-lg-1-4.thumbs--thumb(href="#")
            .thumbs--thumb--img
              .thumbs--thumb--img--growbox
                .thumbs--thumb--img--content(data-image="legomen1.jpg")
            h4 Twilight (&nbsp;Summit Entertainment&nbsp;)
            .thumbs--thumb--meta iPhone App | 2009

      #3d.thumbs--group
        h3 3D Rendering
        a.thumbs--go-to-top.js-scroll(href="#top") top
        .pure-g
          a.pure-u-sm-1-2.pure-u-md-1-3.pure-u-lg-1-4.thumbs--thumb(href="#")
            .thumbs--thumb--img
              .thumbs--thumb--img--growbox
                .thumbs--thumb--img--content(data-image="justgreen1.jpg")
            h4 M.C. Escher
            .thumbs--thumb--meta Website | 2014
          a.pure-u-sm-1-2.pure-u-md-1-3.pure-u-lg-1-4.thumbs--thumb(href="#")
            .thumbs--thumb--img
              .thumbs--thumb--img--growbox
                .thumbs--thumb--img--content(data-image="building1.jpg")
            h4 Anthology
            .thumbs--thumb--meta Website / iOS App | 2015
          a.pure-u-sm-1-2.pure-u-md-1-3.pure-u-lg-1-4.thumbs--thumb(href="#")
            .thumbs--thumb--img
              .thumbs--thumb--img--growbox
                .thumbs--thumb--img--content(data-image="flowerpot1.jpg")
            h4 Peak Medical
            .thumbs--thumb--meta Windows Application | 2014
          a.pure-u-sm-1-2.pure-u-md-1-3.pure-u-lg-1-4.thumbs--thumb(href="#")
            .thumbs--thumb--img
              .thumbs--thumb--img--growbox
                .thumbs--thumb--img--content(data-image="robot1.jpg")
            h4 OpenCar / Mazda
            .thumbs--thumb--meta Car Dashboard Web Interface | 2013
          a.pure-u-sm-1-2.pure-u-md-1-3.pure-u-lg-1-4.thumbs--thumb(href="#")
            .thumbs--thumb--img
              .thumbs--thumb--img--growbox
                .thumbs--thumb--img--content(data-image="einstein1.jpg")
            h4 Target
            .thumbs--thumb--meta Web / Mobile Prototype | 2012
          a.pure-u-sm-1-2.pure-u-md-1-3.pure-u-lg-1-4.thumbs--thumb(href="#")
            .thumbs--thumb--img
              .thumbs--thumb--img--growbox
                .thumbs--thumb--img--content(data-image="spiderbot1.jpg")
            h4 CNN
            .thumbs--thumb--meta iPad App | 2010
          a.pure-u-sm-1-2.pure-u-md-1-3.pure-u-lg-1-4.thumbs--thumb(href="#")
            .thumbs--thumb--img
              .thumbs--thumb--img--growbox
                .thumbs--thumb--img--content(data-image="micro1.jpg")
            h4 House, M.D. (&nbsp;Fox&nbsp;)
            .thumbs--thumb--meta iOS App | 2010
          a.pure-u-sm-1-2.pure-u-md-1-3.pure-u-lg-1-4.thumbs--thumb(href="#")
            .thumbs--thumb--img
              .thumbs--thumb--img--growbox
                .thumbs--thumb--img--content(data-image="legomen1.jpg")
            h4 Twilight (&nbsp;Summit Entertainment&nbsp;)
            .thumbs--thumb--meta iPhone App | 2009

      #photography.thumbs--group
        h3 Photography
        a.thumbs--go-to-top.js-scroll(href="#top") top
        .pure-g
          a.pure-u-sm-1-2.pure-u-md-1-3.pure-u-lg-1-4.thumbs--thumb(href="#")
            .thumbs--thumb--img
              .thumbs--thumb--img--growbox
                .thumbs--thumb--img--content(data-image="justgreen1.jpg")
            h4 M.C. Escher
            .thumbs--thumb--meta Website | 2014
          a.pure-u-sm-1-2.pure-u-md-1-3.pure-u-lg-1-4.thumbs--thumb(href="#")
            .thumbs--thumb--img
              .thumbs--thumb--img--growbox
                .thumbs--thumb--img--content(data-image="building1.jpg")
            h4 Anthology
            .thumbs--thumb--meta Website / iOS App | 2015
          a.pure-u-sm-1-2.pure-u-md-1-3.pure-u-lg-1-4.thumbs--thumb(href="#")
            .thumbs--thumb--img
              .thumbs--thumb--img--growbox
                .thumbs--thumb--img--content(data-image="flowerpot1.jpg")
            h4 Peak Medical
            .thumbs--thumb--meta Windows Application | 2014
          a.pure-u-sm-1-2.pure-u-md-1-3.pure-u-lg-1-4.thumbs--thumb(href="#")
            .thumbs--thumb--img
              .thumbs--thumb--img--growbox
                .thumbs--thumb--img--content(data-image="robot1.jpg")
            h4 OpenCar / Mazda
            .thumbs--thumb--meta Car Dashboard Web Interface | 2013
          a.pure-u-sm-1-2.pure-u-md-1-3.pure-u-lg-1-4.thumbs--thumb(href="#")
            .thumbs--thumb--img
              .thumbs--thumb--img--growbox
                .thumbs--thumb--img--content(data-image="einstein1.jpg")
            h4 Target
            .thumbs--thumb--meta Web / Mobile Prototype | 2012
          a.pure-u-sm-1-2.pure-u-md-1-3.pure-u-lg-1-4.thumbs--thumb(href="#")
            .thumbs--thumb--img
              .thumbs--thumb--img--growbox
                .thumbs--thumb--img--content(data-image="spiderbot1.jpg")
            h4 CNN
            .thumbs--thumb--meta iPad App | 2010
          a.pure-u-sm-1-2.pure-u-md-1-3.pure-u-lg-1-4.thumbs--thumb(href="#")
            .thumbs--thumb--img
              .thumbs--thumb--img--growbox
                .thumbs--thumb--img--content(data-image="micro1.jpg")
            h4 House, M.D. (&nbsp;Fox&nbsp;)
            .thumbs--thumb--meta iOS App | 2010
          a.pure-u-sm-1-2.pure-u-md-1-3.pure-u-lg-1-4.thumbs--thumb(href="#")
            .thumbs--thumb--img
              .thumbs--thumb--img--growbox
                .thumbs--thumb--img--content(data-image="legomen1.jpg")
            h4 Twilight (&nbsp;Summit Entertainment&nbsp;)
            .thumbs--thumb--meta iPhone App | 2009


    footer.footer-main

    //- END Page-Specific Content
    include /inc/end.jade
