html.home(lang="en-us")
  head
    include /_inc/meta.jade
    title Aaron Sarnat | Portfolio
  body#top
    //- Begin Page-Specific Content
    .flex-container-centered.u-h100
      h1.home-title.tk-trajan-pro-3.tk-fadein.t-uppercase
        span.home-title--fn Aaron
        span.home-title--space  
        span.home-title--ln Sarnat
      
    //- END Page-Specific Content
    include /_inc/scripts.jade
