header.header-main

  .header-main--mow-nav-trigger.js-mow-nav-trigger
    .ico-menu

  h1.header-main--logo
    a(href="/")
      span.header-main--logo--content
      span.u-hidden Aaron Sarnat
      img.u-hidden(src="/img/logo-as3.svg")
      
  nav.header-main--nav
    ul
      li.header-main--nav--li---selected
        a(href="#") Portfolio
      li
        a(href="#") Code
      li
        a(href="#") Blog
      li
        a(href="#") About
      li
        a(href="#") Contact
