//- Meta Tags
meta(charset="utf-8")
meta(name="viewport" content="initial-scale=1.0, user-scalable=yes")
meta(name="description" content="Online portfolio of Aaron Sarnat")
//- Stylesheets
link(rel="stylesheet" href="/css/as3-screen.css")
link(rel="stylesheet" media="print" href="/css/as3-print.css")
link(rel="stylesheet" href="/css/pure-custom-min.css")
link(rel="apple-touch-icon" href="/assets/apple-touch-icon.png")
link(rel="shortcut icon" href="/assets/favicon.ico")
link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400" type="text/css")
//- Init JS
script(src="https://use.typekit.net/pip2jva.js")
script(type="text/javascript").
  try{Typekit.load({ async: true });}catch(e){}
